.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.body {
  height: 100vh;
  width: 100vw;
  background-color: #484a4e;
  /* color: white; */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

